@charset "UTF-8";
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*ESTILOS GLOBALES*/
html,
body,
p {
  font-family: "Poppins", sans-serif;
  color: black;
  width: 100%;
}

/*ESTILOS PARA EL MAIN*/
main {
  padding: 0px;
  /*Eliminar posibilidad de que el main tenga un padding.*/
}

/*ESTILOS DE LA BARRA DE NAVEGACIÓN*/
.menu-container {
  background-color: #EF2D2D;
  padding: 0px;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav li {
  list-style: none;
}

.menu {
  border: 0px solid black;
  background-color: #EF2D2D;
  width: 100%;
  display: flex;
  display: flex;
  justify-content: space-between;
  /* Cambiado a space-between para separar el logo y los enlaces */
  align-items: center;
  padding: 10px 10%;
  /* Añadido padding a los lados para asegurar que el contenido no toque los bordes */
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.menu ul li {
  margin: 0 10px;
}
.menu ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.menu ul li a:hover {
  text-decoration: underline;
}

.logo-image {
  margin-right: auto;
  /* Añadido para empujar todo lo demás hacia la derecha */
}

.menu {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main {
  background-image: url("../images/fondos/patron-fondo-pelaje-blanco-25.png");
}

/* ESTILOS PARA LA SECCIÓN PRINCIPAL (DEL HOME) */
#bloque-principal {
  display: flex;
  justify-content: space-between;
  /* Asegura que el texto e imagen ocupen los extremos de la sección */
  align-items: center;
  /* Alinea verticalmente el contenido de ambos divs */
  padding: 10%;
  /* Añade un poco de espacio alrededor para evitar que el contenido toque los bordes */
  background-color: #084BB9;
  /* Color de fondo azul */
  color: white;
  /* Cambia el color del texto a blanco */
}

.texto-izquierda {
  max-width: 50%;
  /* Limita el ancho del texto para evitar que ocupe todo el ancho disponible */
  padding-right: 20px;
  /* Añade espacio a la derecha para separar el texto de la imagen */
}

#imagen-bloque-principal {
  width: 100%;
  /* Asegura que la imagen ocupe todo el ancho de su contenedor */
  height: 100%;
  /* Ajusta la altura para que la imagen intente cubrir todo el espacio vertical disponible */
  object-fit: cover;
  /* Asegura que la imagen cubra completamente el espacio sin distorsionarse */
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  /* Ajusta según la necesidad de bordes redondeados */
}
#imagen-bloque-principal:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.05);
  /*Aumenta ligeramente el tamaño al pasar el mouse  pero me ocurre que pasa por arriba del nav bar*/
}

/*----PUSE DOS OPIONES DE BOTONES UNO COMO BUTTON Y OTRO COMO ANCLA CON LOS MISMOS ESTILOS PARA QUE ME QUEDEN LOS DOS EJEMPLOS----*/
button {
  margin-top: 10px;
  /* Añade un poco de espacio entre los botones y el párrafo */
  margin-right: 20px;
  padding: 10px 20px;
  /* Añade padding para hacer los botones más grandes y fáciles de clickear */
  border: none;
  /* Elimina el borde por defecto de los botones */
  background-color: #EF2D2D;
  /* Color de fondo para los botones */
  color: white;
  /* Color de texto para los botones */
  cursor: pointer;
  /* Cambia el cursor a un puntero para indicar que es clickeable */
  border-radius: 50px;
}
button:hover {
  background-color: white;
  /* Oscurece el botón al pasar el mouse para indicar interactividad */
  color: #084BB9;
  font-weight: bold;
}

/*BOTÓN CREADO COMO ANCLA EN EL HOME*/
.button {
  margin-top: 10px;
  /* Añade un poco de espacio entre los botones y el párrafo */
  margin-right: 20px;
  padding: 10px 20px;
  /* Añade padding para hacer los botones más grandes y fáciles de clickear */
  border: none;
  /* Elimina el borde por defecto de los botones */
  background-color: #EF2D2D;
  /* Color de fondo para los botones */
  color: white;
  /* Color de texto para los botones */
  cursor: pointer;
  /* Cambia el cursor a un puntero para indicar que es clickeable */
  border-radius: 50px;
  text-decoration: none;
}
.button:hover {
  background-color: white;
  /* Oscurece el botón al pasar el mouse para indicar interactividad */
  color: #084BB9;
  font-weight: bold;
}

/*ESTILOS DE TÍTULOS*/
h2 {
  font-weight: bold;
}

/*ESTILOS PARA LA SEGUNDA SECCIÓN DEL HOME*/
/* Estilos para la sección general y el título */
#bloque-2 {
  padding: 20px;
  background-color: white;
  /* Puedes cambiar el color de fondo según tu diseño */
  padding-top: 50px;
  padding-bottom: 25px;
}

#h2-centrado {
  text-align: center;
  margin-bottom: 50px;
  /* Espacio debajo del título */
}

#bloque-2 #h2-centrado {
  color: #084BB9;
}
#bloque-2 p {
  color: black;
}

/* Estilos para el contenedor y las columnas */
.container {
  display: flex;
  flex-wrap: wrap;
  /* Permite que las columnas se ajusten y envuelvan según el ancho de la pantalla */
  justify-content: space-around;
  /* Distribuye las columnas uniformemente con espacio alrededor */
  gap: 20px;
  /* Espacio entre columnas y filas */
}

.column-1,
.column-2,
.column-3,
.column-4 {
  flex: 1;
  /* Las columnas crecen para llenar el espacio disponible */
  min-width: 250px;
  /* Mínimo ancho para las columnas, evita que sean demasiado estrechas */
  background-color: white;
  /* Fondo blanco para las columnas */
  padding: 20px;
  /* Espaciado interno */
  border-radius: 50px;
  /* Bordes redondeados */
}

.column-1:hover,
.column-2:hover,
.column-3:hover,
.column-4:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Sombra suave para efecto de profundidad */
}

.column-1 h3:hover,
.column-2 h3:hover,
.column-3 h3:hover,
.column-4 h3:hover {
  color: #084BB9;
}

.column-1 h3,
.column-2 h3,
.column-3 h3,
.column-4 h3,
.column-1 p,
.column-2 p,
.column-3 p,
.column-4 p,
.column-1 button,
.column-2 button,
.column-3 button,
.column-4 button {
  margin-bottom: 10px;
  /* Espacio entre los elementos dentro de cada columna */
}

.boton-saber-mas:hover {
  background-color: #0056b3;
  /* Color al pasar el ratón por encima */
  color: white;
  font-weight: bold;
}

/*ESTILOS PARA LA TERCERA SECCIÓN DEL HOME*/
#bloque-3 {
  background-color: rgba(8, 75, 185, 0.1);
  /* Color #EF2D2D con 50% de transparencia */
}
#bloque-3 p {
  color: black;
}
#bloque-3 .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* Añade un espacio entre las columnas */
  padding-top: 25px;
  padding-bottom: 25px;
}

#imagen-bloque-3 {
  width: 100%;
  /* Asegura que la imagen sea responsiva y no exceda el ancho de su contenedor */
  height: auto;
  /* Mantiene la proporción de la imagen ajustando su altura automáticamente */
  display: block;
  /* Elimina cualquier espacio extra debajo de la imagen */
  object-fit: cover;
  /* Asegura que la imagen cubra completamente el espacio sin distorsionarse */
  margin: 0 auto;
  /* Centra la imagen horizontalmente dentro de su contenedor */
  border-radius: 50px;
  /* Opcional: Añade bordes redondeados a la imagen si lo deseas */
}
#imagen-bloque-3:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.05);
  /*Aumenta ligeramente el tamaño al pasar el mouse  pero me ocurre que pasa por arriba del nav bar*/
}

#bloque-3 h2 {
  color: #084BB9;
  /* Establece el color del texto a un azul específico */
}
#bloque-3 .column {
  flex: 1;
  max-width: 50%;
  /* Limita el ancho máximo de las columnas para evitar que sean demasiado anchas */
  padding: 20px;
  /* Añade algo de padding para no tener el texto pegado a los bordes */
}
#bloque-3 .imagen-centrada img {
  max-width: 100%;
  /* Hace que la imagen sea responsiva */
  height: auto;
  /* Mantiene la proporción de la imagen */
  display: block;
  /* Evita que la imagen tenga espacio extra debajo */
  margin: 0 auto;
  /* Centra la imagen horizontalmente */
}

@media (max-width: 768px) {
  #bloque-3 .container {
    flex-direction: column;
  }
  #bloque-3 .column {
    max-width: 100%;
    /* Permite que las columnas ocupen todo el ancho disponible */
  }
}
/*ESTILOS PARA LA CUARTA SECCIÓN DEL HOME*/
#bloque-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10%;
  background-color: #084BB9;
  color: white;
}

#carouselTestimonials .carousel-item .fw-bold {
  color: #ffffff;
  /* Establece el color de texto a blanco */
}

#bloque-4 h2 {
  display: block;
  width: 100%;
  max-height: 200px;
}

/* ESTILOS PARA LA SECCIÓN "HABLEMOS" */
#hablemos {
  background-color: none;
  /* Color #EF2D2D con 50% de transparencia */
  padding: 40px 20px;
  /* Espaciado interno */
  display: flex;
  flex-direction: column;
  /* Organiza los elementos en una columna */
  align-items: center;
  /* Centra los elementos horizontalmente */
  gap: 20px;
  /* Espacio entre elementos */
}
#hablemos h2 {
  color: #084BB9;
  /* Color del texto */
  margin-bottom: 20px;
  /* Espacio debajo del título */
}
#hablemos p {
  text-align: center;
  /* Centra el texto */
  max-width: 600px;
  /* Máximo ancho del párrafo */
  margin-bottom: 30px;
  /* Espacio debajo del párrafo */
  color: black;
}
#hablemos form {
  width: 100%;
  max-width: 100%;
  align-items: center;
  /* Máximo ancho del formulario */
  display: flex;
  flex-direction: column;
  /* Organiza los elementos del formulario en una columna */
  gap: 15px;
  /* Espacio entre los campos del formulario */
}
#hablemos input[type=text] {
  padding: 10px;
  /* Espaciado interno para los inputs */
  border: 1px solid #ccc;
  /* Borde sutil */
  border-radius: 50px;
  /* Bordes redondeados */
}
#hablemos input[type=submit] {
  background-color: #084BB9;
  /* Fondo azul */
  color: white;
  /* Texto blanco */
  padding: 10px;
  /* Espaciado interno */
  border: none;
  /* Sin borde */
  border-radius: 50px;
  /* Bordes redondeados */
  cursor: pointer;
  /* Cursor de mano para indicar acción */
  transition: background-color 0.3s;
  /* Transición suave al cambiar el color de fondo */
}
#hablemos input[type=submit]:hover {
  background-color: #EF2D2D;
  /* Color más oscuro al pasar el mouse */
  font-weight: bold;
  /*Se pone bold al pasarel mouse por encima*/
}

/* ESTILOS PARA LA SECCIÓN "HABLEMOS-2" */
#hablemos-2 {
  background-color: white;
  /* Fondo blanco */
  padding: 40px 20px;
  /* Espaciado interno */
  display: flex;
  flex-direction: column;
  /* Organiza los elementos en una columna */
  align-items: center;
  /* Centra los elementos horizontalmente */
  gap: 20px;
  /* Espacio entre elementos */
}
#hablemos-2 h2 {
  color: #084BB9;
  /* Color del texto */
  margin-bottom: 20px;
  /* Espacio debajo del título */
}
#hablemos-2 p {
  text-align: center;
  /* Centra el texto */
  max-width: 600px;
  /* Máximo ancho del párrafo */
  margin-bottom: 30px;
  /* Espacio debajo del párrafo */
  color: black;
}
#hablemos-2 form {
  width: 100%;
  max-width: 100%;
  align-items: center;
  /* Centra los elementos */
  display: flex;
  flex-direction: column;
  /* Organiza los elementos del formulario en una columna */
  gap: 15px;
  /* Espacio entre los campos del formulario */
}
#hablemos-2 input[type=text] {
  padding: 10px;
  /* Espaciado interno para los inputs */
  border: 1px solid #ccc;
  /* Borde sutil */
  border-radius: 50px;
  /* Bordes redondeados */
}
#hablemos-2 input[type=submit] {
  background-color: #084BB9;
  /* Fondo azul */
  color: white;
  /* Texto blanco */
  padding: 10px;
  /* Espaciado interno */
  border: none;
  /* Sin borde */
  border-radius: 50px;
  /* Bordes redondeados */
  cursor: pointer;
  /* Cursor de mano para indicar acción */
  transition: background-color 0.3s;
  /* Transición suave al cambiar el color de fondo */
}
#hablemos-2 input[type=submit]:hover {
  background-color: #EF2D2D;
  /* Color más oscuro al pasar el mouse */
  font-weight: bold;
  /* Se pone bold al pasar el mouse por encima */
}

/* ESTILOS PARA LA SECCIÓN "ÚLTIMOS ARTÍCULOS" */
#ultimos-articulos {
  background-color: #fff;
  /* Fondo blanco para la sección */
  padding: 40px;
  /* Espaciado interno */
  display: grid;
  /* Utiliza CSS Grid para la disposición */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* Crea columnas que se ajusten automáticamente */
  justify-content: center;
  /* Centra los elementos en la cuadrícula */
  gap: 30px;
  /* Espacio entre las tarjetas */
}
#ultimos-articulos h2 {
  grid-column: 1/-1;
  /* Asegura que el título se extienda a través de todas las columnas */
  text-align: center;
  /* Asegura que el título esté centrado */
  margin-bottom: 30px;
  /* Espacio debajo del título */
}
#ultimos-articulos p {
  color: black;
}
#ultimos-articulos .article {
  border: 1px solid #e1e1e1;
  /* Borde sutil para cada artículo */
  border-radius: 50px;
  /* Bordes redondeados para los artículos */
  overflow: hidden;
  /* Asegura que el contenido no desborde */
  display: grid;
  /* Utiliza CSS Grid para la disposición interna */
  grid-template-rows: auto 1fr auto;
  /* Organiza el espacio para la imagen, contenido y botones */
  align-items: center;
  /* Centra el contenido verticalmente */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
  transition: transform 0.3s ease-in-out;
  /* Transición suave para el efecto de hover */
}
#ultimos-articulos .article img {
  width: 100%;
  /* Asegura que la imagen cubra el ancho del artículo */
  height: auto;
  /* Mantiene la proporción de la imagen */
  border-bottom: 1px solid #e1e1e1;
  /* Borde entre la imagen y el texto */
}
#ultimos-articulos .article h3 {
  padding: 20px;
  /* Espaciado interno para el título */
}
#ultimos-articulos .article p {
  padding: 0 20px 20px;
  /* Espaciado interno para el párrafo */
  text-align: justify;
  /* Justifica el texto del párrafo */
}
#ultimos-articulos .article:hover {
  transform: scale(1.05);
  /*Aumenta ligeramente el tamaño al pasar el mouse  pero me ocurre que pasa por arriba del nav bar*/
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* Sombra más pronunciada al pasar el mouse */
}
#ultimos-articulos .article h3:hover {
  color: #084BB9;
}

/*CARROUSELES*/
#bloque-4 .carousel-item p {
  margin-bottom: 0;
  /* Elimina el margen inferior para un espaciado más controlado */
}
#bloque-4 .carousel-item .fw-bold {
  color: white;
  /* Personaliza el color del nombre del cliente */
  margin-top: 1rem;
  /* Espacio entre el testimonio y el nombre del cliente */
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0px;
  color: #EF2D2D;
  text-align: center;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
  background-color: rgba(255, 255, 255, 0);
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: rgba(255, 255, 255, 0.5);
  /* Color blanco con 50% de transparencia */
}

/* ESTILOS PARA EL FOOTER */
.site-footer {
  background-color: white;
  /* fondo blanco del footer */
  color: #084BB9;
  /* Color de texto claro para contraste */
  padding: 40px 0;
  /* Espaciado superior e inferior */
  font-family: "Poppins", sans-serif;
  /* La fuente que has utilizado en tu sitio */
}
.site-footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.site-footer .footer-logo {
  max-width: 200px;
  /* Ajusta el tamaño del logo */
  margin-bottom: 20px;
  /* Espacio debajo del logo */
}
.site-footer .footer-nav ul {
  list-style-type: none;
  /* Eliminar estilos de lista */
  padding: 0;
  /* Resetear el padding */
  margin: 0;
  /* Resetear el margen */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Centra los elementos de la lista */
}
.site-footer .footer-nav ul li {
  margin: 10px 15px;
  /* Espaciado horizontal y vertical entre enlaces */
}
.site-footer .footer-nav ul li a {
  color: #084BB9;
  /* Color de enlace */
  text-decoration: none;
  /* Quitar subrayado de enlace */
  font-weight: 500;
  /* Peso de la fuente para los enlaces */
  transition: color 0.3s ease;
  /* Transición suave para efectos de hover */
}
.site-footer .footer-nav ul li a:hover {
  color: #EF2D2D;
  /* Color al pasar el mouse */
  text-decoration: underline;
}
.site-footer .footer-social {
  margin-top: 20px;
  /* Espacio arriba del contenedor social */
}
.site-footer .footer-social a {
  margin: 0 10px;
  /* Espaciado entre iconos */
}
.site-footer .footer-social .social-icon {
  width: 40px;
  /* Tamaño de los íconos sociales */
  transition: transform 0.3s ease;
  /* Transición suave para efectos de hover */
}
.site-footer .footer-social .social-icon:hover {
  transform: scale(1.1);
  /* Efecto al pasar el mouse */
}

@media (min-width: 768px) {
  .site-footer .footer-content {
    flex-direction: row;
    /* Distribución horizontal en pantallas más anchas */
    justify-content: space-between;
    padding: 0 10%;
    /* Espaciado lateral */
  }
  .site-footer .footer-nav ul {
    justify-content: flex-start;
  }
  .site-footer .footer-social {
    justify-content: flex-end;
  }
}
/*ESTILOS GENERALES PARA PÁGINAS QUE NO SON EL HOME*/
/*Encabezados de pagina*/
#encabezado-pagina {
  background-color: #084BB9;
  /* Establece el color de fondo a blanco */
  color: white;
  text-align: center;
  /* Centra el texto dentro de la sección */
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: 1px solid #ccc;
}

/*Bloque 2 de pagina*/
#bloque-2-pagina {
  width: 100%;
  padding: 100px 10% 25px 10%;
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}
#bloque-2-pagina h2 {
  color: #084BB9;
}
#bloque-2-pagina p {
  color: black;
}

/*Bloque 3 de pagina*/
#bloque-3-pagina {
  width: 100%;
  padding: 25px;
  align-content: center;
  align-items: center;
  align-self: center;
}
#bloque-3-pagina .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* Asegura un espaciado uniforme */
  margin: 0 10%;
  max-width: 80%;
}
#bloque-3-pagina .column {
  flex: 0 1 calc(50% - 20px);
  /* Calcula el ancho para 2 columnas, restando el gap */
  background-color: white;
  /* Fondo blanco para las tarjetas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Sombra suave para profundidad */
  border-radius: 50px;
  /* Bordes redondeados */
  overflow: hidden;
  /* Asegura que el contenido no desborde los bordes redondeados */
  display: flex;
  /* Habilita flexbox para alinear el contenido */
  flex-direction: column;
  /* Organiza el contenido verticalmente */
  align-items: center;
  /* Centra el contenido horizontalmente */
  padding: 20px;
  /* Espaciado interno */
  transition: transform 0.3s ease-in-out;
  /* Transición suave al hacer hover */
}
#bloque-3-pagina .column:hover {
  transform: translateY(-5px);
  /* Eleva la tarjeta ligeramente al hacer hover */
}
#bloque-3-pagina img {
  max-width: 80%;
  /* Reduce el tamaño de la imagen para que encaje bien en la tarjeta */
  margin-top: 20px;
  /* Espacio arriba de la imagen */
  border-radius: 50px;
  /* Bordes ligeramente redondeados para las imágenes */
}
#bloque-3-pagina h3 {
  color: #084BB9;
  /* Color azul para los títulos */
  margin: 20px 0;
  /* Espacio arriba y abajo del título */
}
#bloque-3-pagina p {
  text-align: center;
  /* Asegura que el texto esté centrado */
  margin-bottom: 20px;
  /* Espacio debajo del párrafo */
  color: black;
}

@media (max-width: 768px) {
  #bloque-3-pagina .column {
    flex: 0 1 100%;
    /* Hace que las tarjetas ocupen todo el ancho en pantallas pequeñas */
  }
}
/*Bloque 4 pagina*/
#bloque-4-pagina {
  background-color: #EF2D2D;
  padding: 50px 10%;
}
#bloque-4-pagina h2,
#bloque-4-pagina ol {
  color: white;
}

ul,
p {
  color: white;
}

/*ESTILOS METODOLOGIA*/
/* Estilo común para todas las secciones */
.seccion-metodologia {
  padding: 40px 20px;
  margin: 0;
  /* Elimina el margen superior de la primera sección */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.seccion-metodologia .contenido-seccion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.seccion-metodologia .texto-izquierda,
.seccion-metodologia .imagen-derecha {
  flex: 1;
  min-width: 300px;
  /* Asegura un mínimo de ancho para contenido y imagen */
}
.seccion-metodologia .texto-izquierda {
  padding: 20px;
  text-align: left;
  /* Asegura que el texto esté alineado a la izquierda */
}
.seccion-metodologia .imagen-derecha img {
  width: 100%;
  max-width: 400px;
  /* Limita el tamaño máximo de las imágenes */
  height: auto;
  border-radius: 20px;
  /* Bordes redondeados para las imágenes */
  display: block;
  margin: 0 auto;
  /* Centra la imagen si está en una columna propia */
}
.seccion-metodologia h2 {
  color: #084BB9;
  /* Azul para títulos */
  margin-bottom: 15px;
  /* Espacio debajo del título */
}
.seccion-metodologia p {
  color: black;
  /* Texto principal en color negro */
  line-height: 1.6;
  /* Mejora la legibilidad del texto */
}

@media (max-width: 768px) {
  .seccion-metodologia .contenido-seccion {
    flex-direction: column;
  }
  .seccion-metodologia .imagen-derecha img {
    margin-bottom: 20px;
    /* Espacio debajo de la imagen en dispositivos móviles */
  }
}
/* Colores de fondo específicos para cada sección */
#busqueda-constante {
  background-color: #7A82D1;
  /* Color de fondo claro para "Búsqueda Constante" */
}

#tecnologia-avanzada {
  background-color: #9DA0DD;
  /* Color de fondo claro para "Tecnología Avanzada" */
}

#orientacion-estrategica {
  background-color: #BFBEE9;
  /* Color de fondo claro para "Orientación Estratégica" */
}

#beneficio-sostenible {
  background-color: #DFDEF4;
  /* Color de fondo claro para "Beneficio Sostenible" */
}

.seccion-metodologia .imagen-derecha img:hover {
  transform: scale(1.05);
  /* Aumenta el tamaño de la imagen al 105% */
  transition: transform 0.3s ease-in-out;
  /* Efecto suave de transición */
}

/*ESTILO INFO CONTACTO*/
#info-contacto {
  color: black;
}

.btn.btn-primary {
  border-radius: 50px;
  background-color: #084BB9;
  color: white;
  /* Cambia el color del texto si es necesario para que sea legible */
  /* Otros estilos de texto, tamaño, margen, etc., según tus necesidades */
  padding: 10px 20px;
  /* Ajusta el relleno según el tamaño deseado del botón */
}

/*MAPA (IFRAME)*/
.iframe {
  margin-top: 50px;
  /* Añade un margen superior */
  margin-bottom: 20px;
  /* Añade un margen inferior */
}

/*MEDIDAS 100% Q RESPONSIVE*/
/*Ajustes para tablets*/
@media (max-width: 1024px) {
  .texto-izquierda,
  .imagen-derecha {
    padding: 15px;
    /* Ajusta el padding para más espacio */
  }
  .menu ul {
    flex-direction: column;
    /* Opcional: Cambia la navegación a vertical */
  }
  .menu ul li a {
    font-size: 0.9rem;
    /* Ajusta el tamaño de la fuente */
  }
  /* Ajustes para móviles*/
}
@media (max-width: 768px) {
  .texto-izquierda,
  .imagen-derecha {
    padding: 10px;
    /* Reduce aún más el padding */
    text-align: center;
    /* Centra el texto para mejorar la legibilidad */
  }
  .menu {
    flex-direction: column;
    /* Ajusta la navegación para dispositivos móviles */
  }
  .menu ul li {
    margin: 5px 0;
    /* Ajusta los márgenes para los enlaces */
  }
  .menu ul li a {
    font-size: 0.8rem;
    /* Reduce el tamaño de la fuente para ahorrar espacio */
  }
}
/*ANIMACIONES*/
@keyframes fade-in-slide-right {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade-in-slide-right {
  animation: fade-in-slide-right 1s ease-out;
}

/*# sourceMappingURL=main.css.map */
