/*ESTILO INFO CONTACTO*/

#info-contacto {
    color: nth($list: $azules-oscuros, $n:5);
}

.btn.btn-primary {
@include look-botones ($azul-primario, $blanco-secundario)
}

/*MAPA (IFRAME)*/

.iframe {
    margin-top: 50px;

    /* Añade un margen superior */
    margin-bottom: 20px;

    /* Añade un margen inferior */
}