/*ANIMACIONES*/
@keyframes fade-in-slide-right {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-slide-right {
    animation: fade-in-slide-right 1s ease-out;
}