/*ESTILOS GLOBALES*/
html,
body,
p {
    font-family: 'Poppins', sans-serif;
    color: nth($list: $azules-oscuros, $n:5);
}

/*ESTILOS PARA EL MAIN*/

main {
    padding: 0px;

    /*Eliminar posibilidad de que el main tenga un padding.*/
}