/*ESTILOS GLOBALES*/
html,
body,
p {
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 100%;
}

/*ESTILOS PARA EL MAIN*/

main {
    padding: 0px;

    /*Eliminar posibilidad de que el main tenga un padding.*/
}