//LAS VARIABLES SE APLICAN EN LOS ARCHIVOS SCSS Y NO EL CSS
//Paleta principal de colores primarios y secundarios
$azul-primario: #084BB9; // Azul principal
$rojo-primario: #EF2D2D; // Rojo principal
$naranja-secundario: #ff6f00; // Naranja secundario
$verde-secundario: #9CF95B; // Verde Secundario
$cyan-secundario: #00FFD4; // Cyan secundario
$blanco-secundario: #FFFFFF; //Blanco secundario, lo dejé así por si en algún momento quisiera variar todos los blancos de forma más sencilla.


//Color de sombra
$color-sombra: rgba(0, 0, 0, 0.1);

//----------------------------------------------------------
//LISTAS Y MAPAS, DONDE PUEDO GUARDAR MÁS DE UN SÓLO VALOR

//Lista MATICES CLAROS
//AZULES
$azules-claros:
#DFDEF4,
#BFBEE9,
#9DA0DD,
#7A82D1,
#5266C5;
//ROJOS
$rojos-claros:
#ffe0d9,
#ffc1b4,
#ffa191,
#ff806e,
#f95c4d;

//Lista MATICES OSCUROS
//AZULES
$azules-oscuros:
#173F98,
#1B3377,
#1b2759,
#171d3c,
#121121;
//ROJOS
$rojos-oscuros:
#c42b27,
#9a2721,
#73211b,
#4d1a15,
#2a120c;

//---- MAPAS ----
//No voy a hacer porque lo encuento medio ineficiente pero la sintaxis es $nombre-del-mapa { propiedad:valor, propiedad 2:valor2, propiedad 3:valor3); y luego para llamarlo en el scss se hace con map-get($map: $nombre-del-mapa, $key: propiedad2);

